@model TreinaWeb.Musicas.Web.ViewModels.Musica.MusicaIndexViewModel

@Html.ActionLink("Detalhes", "Details", new { id = Model.Id }) |
@if (User.IsInRole("Administrador"))
{
    <a href="@Url.Action("Edit", "Musicas", new { id = Model.Id })">Editar | </a>
    <a href="@Url.Action("Delete", "Musicas", new { id = Model.Id })">Excluir </a>
}
