@{
    ViewBag.Title = "Sobre";
}
<h2 id="titulos">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Aplicação web desenvolvida com o objetivo de catalogar listas de álbuns e músicas.</p>

<h4>Especificações:</h4>
<ul>
    <li>IDE Visual Studio Enterprise 2017 v15.9.17</li>
    <li>Microsoft SQL Server Management Studio versão 12.0.4100.1</li>
    <li>Linguagem C#</li>
    <li>ASP.NET MVC 5</li>
    <li>Entity Framework v6.4.0</li>
    <li>Code First Migrations</li>
    <li>ASP.NET Identity v2.2.3</li>
    <li>View Model Pattern</li>
    <li>Repository Pattern</li>
    <li>AutoMapper v7.0.1</li>
    <li>Bootstrap v3.3.7</li>
    <li>JQuery v3.3.1</li>
    <li>Ajax</li>
</ul>
