@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="titulo-principal"><span class="glyphicon glyphicon-cd"></span>&nbsp;TreinaWeb Músicas</h1>
    <p class="lead">Aplicação web para catalogar simples listas de músicas e álbuns, onde é possível adicionar, alterar, pesquisar e excluir itens dessas listas.</p>
    <p>A finalidade dessa aplicação é para apenas fins didáticos, reforçando a prática do desenvolvimento web em camadas.</p>
</div>